*{
    margin: 0;
    padding: 0;
}

html{
    margin: 0;
    padding: 0;
    background: #666A86;
    color: #E8DDB5;
}

#little-logo{
    width: 75px;
    height: 75px;
    margin-right: auto;
    transition: rotate 2s;
}

#little-logo:hover{
    rotate: 180deg;
}

a{
    text-decoration: none;
    color: #EDAFB8;
    width: 100px;
    text-align: center;
}

a:hover{
    font-weight: bold;
}

.topnav{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 99.5%;
    justify-content: flex-end;
    position: fixed;   
    top: 0;
    left: 0;
    background-color: #666A86;
    z-index: 2;
}

.topnav h2{
    color: #333;
    margin: auto;
    width: fit-content;
}

@media screen and (max-width: 600px) {
    .topnav h2{
        color: transparent;
    }
    
}

@media screen and (max-width: 600px) {
    #little-logo{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
    }

    .topnav a{
        display: none;
        position: none;
    }

    .topnav{
        height: 75px;
        background-color: transparent;
    }
}

.button{
    color: #EDAFB8;
    border: 1px solid #EDAFB8;
    border-radius: 10px;
    padding: 5px;
    background-color: #666A86;
    margin-right: 20px;
    background: linear-gradient(to right, #EDAFB8 50%, #666A86 50%);
    background-size: 200%, 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}

.button:hover{
    background-position: left bottom;
    color: black;
}

.button-selected{
    color: #333;
    border: 1px solid #EDAFB8;
    border-radius: 10px;
    padding: 5px;
    background-color: #EDAFB8;
    margin-right: 20px;
}

.contact{
    display: flex;
    flex-direction: column;   
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    justify-content: flex-end;
}

.contact a{
    width: 50px;
    margin: 8px 0px;
    transition: width 2s;
}

.contact a:hover{
    width: 75px;
}

.line{
    width: 1px;
    height: 100px;
    border-right: 2px solid #EDAFB8;
    margin-left: 22px;
}

footer img{
    width: 50px;
    height: 50px;
    margin: 5px 0;
    transition: margin 2s;
}

footer img:hover{
    margin-right: 25px;
}

img[src="img/javascript-seeklogo.com.svg"]{
    width: 38px;
    height: 38px;
}

img[src="img/icons8-react.svg"]{
    width: 45px;
    height: 45px;
    margin-bottom: 0;
}

img[src="img/icons8-django.svg"]{
    margin: 0;
}

footer{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    justify-content: flex-end;
    width: 80px;
    align-items: center;
}

footer a{
    width: fit-content;
}

header{
    width: 50%;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

header h1{
    position: sticky;
    top: 0;
    left: 100px;
}

.arrows{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

@media screen and (max-width:600px) {
    header{
        width: 65%;
    }
}

h4{
    font-size: 18px;    
}

h2{
    font-size: 32px;
}

h1{
    color: #333;
    font-size: 60px;
    letter-spacing: 2.25px;
}

header p{
    margin-top: 15px;
    font-size: 20px;
    word-spacing: 1.75px;
}

#about, #experience{
    width: 50%;
    margin: 0 auto;
}

#examples{
    width: 80%;
    margin: 0 auto;
}

#about-anchor{
    display: block;
    height: 100px;
    margin-top: 200px;
    visibility: hidden;
}

#about h2, #examples h2{
    margin-bottom: 20px;
    border-bottom: 1px solid #EDAFB8;
}

#about p{
    font-size: 17px;
    margin: 15px auto;
    text-align: justify;
    word-spacing: 1.75px;
}

@media screen and (max-width: 600px){
    #about p{
        word-spacing: normal;
        font-size: 16px;
    }  
}

#experience h2{
    margin-bottom: 20px;
    border-bottom: 1px solid #EDAFB8;
}

#experience{
    margin: 50px auto;
}

#experience-anchor{
    display: block;
    height: 100px;
    margin-top: 200px;
    visibility: hidden;
}

main{
    margin-top: 100vh;
}

.loading-logo img{
    width: 100%;
    height: 99.9vh;
    overflow: contain;
    margin: 0;
    padding: 0;
}

.tablist{
    display: flex;
    flex-direction: column;
}



.tab-section{
    display: flex;
    flex-direction: row;
}

.tablist .button{
    width: 200px;
    height: 30px;
    margin: 2px auto;
    cursor: pointer;
    text-align: center;
    padding-top: 20px;
}

.tablist .button-selected{
    width: 200px;
    height: 30px;
    margin: 2px auto;
    cursor: pointer;
    text-align: center;
    padding-top: 20px;
}

.tab-content{
    margin: 0 auto 0 20px;
    overflow: scroll;
    height: 305px;
}

.tab-content::-webkit-scrollbar{
    display: none;
}

.tab-content span{
    color: #EDAFB8;
}

.tab-content p{
    color: lightgray;
}

.tab-content li{
    margin: 10px 0;
}

@media screen and (max-width:600px) {
    .tablist{
        display: flex;
        flex-direction: row;
    }

    .tablist .button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 50px;
        margin: 2px auto;
        color: transparent;
    }

    .tab-section{
        display: flex;
        flex-direction: column;
    }

    .tablist .button-selected{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 50px;
        margin: 2px auto;
        cursor: pointer;
        padding-top: 0;
    }
}

#examples img{
    width: 50%;
    height: auto;
    flex: left;
    margin-right: 10px;
}

#description{
    width: 50%;
    flex: right;
}

.image-section{
    flex-wrap: nowrap;
}

.column-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hidden{
    display: none;
}

.project{
    margin-bottom: 50px;
}

.project img{
    flex: 7;
    height: auto;
}

.description{
    flex: 3;
}

.project h3{
    font-size: 28px;
    text-align: right;
    margin-bottom: 20px;
}

.project h4{
    text-align: right;
    margin-top: 10px;
    margin-bottom: 5px;
}

.project li{
    list-style-type: none;
    margin: 2px auto;
}

.tags li{
    margin: 0;
    width: calc(100% / 6);
    color: lightgray;
    text-align: left;
}

.tags{
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
}

.tags a{
    width: calc(100% / 6);
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade{
    from {opacity: .4}
    tp {opacity: 1}
}